.was {
  width: 400px;
}
.img-w {
  width: 600px;
  height: 500px;
}

@media (max-width:1250px){
  .img-w {
    width: 450px;
    height: 350px;
  }

}
@media (max-width:980px){
  .img-w {
    width: 350px;
    height: 300px;
  }

}
@media (max-width:800px){
  .img-w {
    width: 500px;
    height: 400px;
  }

}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}