.card-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  .card-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
  }
  .card-exit {
    opacity: 1;
    transform: translateX(0);
  }
  .card-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 500ms, transform 500ms;
  }
  